<p>Cliente: <%= @order.customer.name %></p>
<% @order.products.each do |product| %>
  <p><%= product.name %> | <%= product.price.to_f %></p> 
<% end %>
<p><%= link_to  "Editar", edit_order_path, class: "btn btn-warning" %></p>

